

body{
    height: 100vh;
}
.homepage{
    display: flex;
    flex-direction: column;
}
.container{
    height: auto;
    height: 40vh;
    width: 60vw;
    margin-top: 35vh;
    margin-left: 20vw;
}


    .footer{
        width: 100vw;
        height: 3vh;
        display: flex;
        justify-content: center;
        background: #FFCA28;
        color: black;
        position: absolute;
        bottom: 0;
    }

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
    h1{
        font-family: 'Playfair Display', serif;
        font-size: 150px;
    }