<div class="container">
  <app-nav-bar></app-nav-bar>
  <table mat-table [dataSource]="clients" class="clients-table">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <th mat-cell *matCellDef="let element" >{{element.first_name}}</th>
    </ng-container>
    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef>Lastname</th>
      <th mat-cell *matCellDef="let element">{{element.last_name}}</th>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>E-mail</th>
      <th mat-cell *matCellDef="let element">{{element.email}}</th>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row 
    (click)="clickedRows.add(row)"
    [class.demo-row-is-clicked]="clickedRows.has(row)"
    *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
  <section class="footer">
    <p>@2022</p>
  </section>
