@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
    h1{
        font-family: 'Playfair Display', serif;
        font-size: 70px;
        transform: translateY(-5vh);
    }
    h3
    {
        font-family: 'Playfair Display', serif;
        font-size: 40px;
    }

body{
    height: 100vh;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container{
    height: auto;
    height: 40vh;
    width: 60vw;
    margin-top: 35vh;
    margin-left: 20vw;
}


    .footer{
        width: 100vw;
        height: 3vh;
        display: flex;
        justify-content: center;
        background: #FFCA28;
        color: black;
        position: absolute;
        bottom: 0;
    }